
@tailwind base;
@tailwind components;
@tailwind utilities;
  
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* used on homepage domain.com/ */
.large-shadow {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8); /* You can adjust the shadow values as needed */
  }
  
  .progress-yellow::-webkit-progress-value {
    background-color: #FF5F15;
  }
  .progress {
    background-color: #CCCCCC;
  }
  